

.activity-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height:auto;
  background-color: var(--col-l-grey);
  border-radius: 20px;

  /* @media screen and (min-width: 576px)
  {
    max-width: 280px;
  } */
}

.activity-card__header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: center;
}

.activity-card__aside{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  z-index: 2;
  padding: 10px 15px 0 15px;
}

.activity-card__tag {
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--col-white);
  margin: 0;
}

.activity-card__tag-city {
  background-color: var(--col-coral);
}

.activity-card__tag-country {
  background-color: var(--col-l-green);
}

.activity-card__icon {
  margin: auto 0;
  height: 30px;
  width: 30px;
}

.activity-card__image {
  height: inherit;
}






/* BODY */

.activity-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  height: 100%;
  padding: 20px 20px 0 20px;
}

@media screen and (min-width: 500px)
{
  .activity-card__body {
    height: 180px;
  }
}

@media screen and (min-width: 776px)
{
  .activity-card__body {
    height: 180px;
  }
}

@media screen and (min-width: 1200px)
{
  .activity-card__body {
    height: 190px;
  }
}

.activity-card__title {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
  height: 50px;
  text-align: left;
  font-weight: 500;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 20px;
}

.activity-card__description {
  text-align: justify;
  font-size: clamp(14px, 1.5vw, 16px);
}


/* FOOTER */

.activity-card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 10px 20px;
}

.activity-card__button-see-more {
  color: var(--col-l-blue);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.activity-card__tags-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.activity-card__container-province {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--col-l-blue);
  border-radius: 10px;
}

.activity-card__province {
  padding: 5px 10px;
  margin: 0;
  color: var(--col-white);
  border-radius: 10px;
}



.activity-card__admin{
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2px;
}


.activity-card__admin-button {
  margin-top: 10px;
  padding: 5px 0px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.activity-card__admin-button--edit {
  background-color: rgb(232, 241, 207);
  border-radius: 0px 0px 0px 20px;
}

.activity-card__admin-button--delete {
  background-color: rgb(245, 210, 209);
  border-radius: 0px 0px 20px 0px;
}