.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 90px);
}

.activity-form__container {
  background-color: var(--col-l-blue);
  width: 100%;
}