
/* SECCIÓN RESULTADOS DE BÚSQUEDA */

.activities-list  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: var(100vw - 18px);
  padding: 18px;
  gap: 20px;
}

.activities-list__title {
  font-size: 24px;
}

.activities-list__flag {
  width: 30px;
  height: 30px;
}

.activities-list__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (min-width: 500px)
{
  .activities-list__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 776px)
{
  .activities-list__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px)
{
  .activities-list__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
