
/* SECCIÓN RESULTADOS DE BÚSQUEDA */

.activities-list  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: var(100vw - 18px);
  padding: 18px;
  gap: 20px;
}

.activities-list__title {
  font-size: 24px;
}

.activities-list__flag {
  width: 30px;
  height: 30px;
}

.activities-list__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  column-gap: 20px;
  row-gap: 40px;
}

.activities-list__list > :nth-last-child(-n+1) {
  margin-right: auto;
}