
.buscador{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.tableUsers{
  display: block;
  width: 100%;
  border-collapse: collapse;
}
.tableFoundUsers{
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 500px; 
}
table thead, table tbody{
  border: 4px solid black;
}

.tableFoundUsers_table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(12px, 2vw, 18px);
    margin: 0px 0px;

}
.tableFoundUsers_table tr{
  width: 300px;
  height: 70px;
}

table th, table td {
  color:black;
  border: 2px solid black;
  padding: clamp(3px, 1vw, 10px);
  text-align: center;
  width: 300px;

}
table th {
  background-color: white;
  font-weight: bold;
}

table tr:hover {
  background-color: var(--col-l-green);
}
