header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f4f4;
    color: rgb(71, 69, 69);
    height: 90px;
}

h3 {
    margin: 0;
    padding: clamp(0px, 0vw, 2px);
}

nav {
    display: flex;
}

.registrarse {
    margin-right: clamp(20px, 5vw, 50px);
    cursor: pointer;
    color: #f5f4f4;
    background-color: #4fadc0;
    border-radius: 5px;
    border: 1px solid rgb(71, 69, 69);
    padding: 8px 16px;
    font-weight: bold;
}

.login {
    margin-right: 20px;
    cursor: pointer;
    color: rgb(71, 69, 69);
    border-radius: 5px;
    border: 1px solid rgb(71, 69, 69);
    padding: 8px 16px;
    font-weight: bold;
}

.home {
    margin-right: 20px;
    cursor: pointer;
    color: rgb(71, 69, 69);
    border-radius: 5px;
    border: 1px solid rgb(71, 69, 69);
    padding: 8px 16px;
    font-weight: bold;
    height: 50px;
}

.admin-usuarios {
    margin-right: 20px;
    cursor: pointer;
    color: rgb(71, 69, 69);
    border-radius: 5px;
    border: 1px solid rgb(71, 69, 69);
    padding: 8px 16px;
    font-weight: bold;
    height: 50px;
    width: 155px;
}

.logout {
    margin-right: 20px;
    cursor: pointer;
    color: rgb(71, 69, 69);
    border-radius: 5px;
    border: 1px solid rgb(71, 69, 69);
    padding: 8px 16px;
    margin-top: 10px;
    font-weight: bold;
    height: 50px;
    margin: 0;
}