.deleteUsers{
    display: flex;
    flex-flow: column wrap;
    width: 95%;
    justify-content: flex-start;
    margin: 0px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}
.deleteUsers h3{
    width: 100%;
    font-size: clamp(20px, 3vw, 26px);
    color: black;
    margin-bottom: 10px;
    padding: 5px 3px;
}
.deleteUsers_InputAndButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.deleteUsers_InputAndButton input{
    width: 70%;
    height: 50px;
    margin-right: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 500;
}
.btn-primary{
    width: 140px;
    height: 50px;
    padding: 3px;
    font-size: clamp(16px, 3vw, 18px);
    font-weight: 600;
    color: white;
    border: 2px white solid;
}


@media screen and (min-width: 767px){
    .deleteUsers{
        width: 85%;
    }
  }

  @media screen and (min-width: 1123px){
    .deleteUsers{
        width: 50%;
    }
  }

