.total-carrusel{
    position: relative;
    max-width: 1920px;
    width: 95%;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    min-height: calc(100vh - 115px);
}

.title-carrusel{
    height: 50px;
    margin: 0 auto;
    /* text-align: center; */
    width: 100%;
    padding-top: 10px;
    padding-left: 70px
}

.carrusel {
    position: relative;
    height: 720px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: blue;
    width:clamp(375px, 100%, 1920px);
    height: clamp(200px, 60vw, 600px);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 50px;
}


.img-carrusel {
    position: absolute;
    /* font-weight: bold; */
    margin: auto;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit:cover;
    height: 100%;
    width: 100%
}


.prev-button{
    position:absolute;
    color: rgb(71, 69, 69);
    border-radius: 5px;
    border: 1px solid rgb(71, 69, 69);
    padding: 6px 8px;
    font-weight: bold;
    top: 44%;
    z-index: 2;
    left: 2%;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo casi transparente */

}

.next-button{
    position:absolute;
    color: rgb(71, 69, 69);
    border-radius: 5px;
    border: 1px solid rgb(71, 69, 69);
    padding: 6px 8px;
    font-weight: bold;
    top: 44%;
    z-index: 2;
    left: 93%;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo casi transparente */
}

.localization{
    position:absolute;
    padding: 6px 8px;
    top: 90%; /* Lo posiciona en el centro verticalmente */
    left: 60%; /* Lo posiciona en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el botón correctamente */
    z-index: 2; /* Asegura que el botón esté por encima de la imagen */
    background-color: rgba(255, 255, 255, 0); /* Fondo casi transparente */
}

.text-localization{
    position:absolute;
    font-size: larger;
    color: rgb(255, 255, 255);
    font-weight: bold;
    top: 88%;
    left: 62%; /* Lo posiciona en el centro horizontalmente */
    z-index: 2; /* Asegura que el botón esté por encima de la imagen */
    background-color: rgba(255, 255, 255, 0); /* Fondo casi transparente */
}

/* Media query para min 1000px*/
@media only screen and (min-width: 1500px) {
    .total-carrusel{
        height: 90%;
        width: 90%;
    }

    .text-localization{
        top: 88%;
        left: 63%;
    }
}

@media only screen and (min-width: 1000px) and (min-width: 1500px){
    .total-carrusel{
        height: 90%;
        width: 90%;
    }
    .text-localization{
        top: 88%;
        left: 63%;
    }
}

/* ---------------------------------------------------------------------- */

/* @media (max-width: 380px){

    .carrusel{
        height: 18vh;
        width: 87vw;
    }
    .text-localization{
        top: 88%;
        left: 63%;
        font-size:medium;
    }
}

@media (min-width: 380px) and (max-width: 800px){

    .carrusel{
        height: 20vh;
        width: 87vw;
    }
} */