.divSearcher{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    margin-bottom: 20px;
    width: 100%;
}

.inputSearcher{
    width: 65%;
    height: 50px;
    margin-right: 10px;
    color: black;
    background-color: white;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
}
.btn-primary{
    width: 30%;
    padding: 3px;
    font-weight: 600;
    color: white;
    border: 2px white solid;
}

@media screen and (max-width: 766px){
    .divSearcher{
        display: flex;
        flex-direction: row;
        width: 90%;
    }
}
    

