/* TARJETA ACTIVIDAD */
.actividad {
    height: auto;
}

.titulo-fav {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(0.938rem, 3vw, 1.563rem);
}

.titulo {
    font-size: clamp(1.25rem, 3vw, 3rem);
    font-weight: 700;
    margin: 0;
}

.btn-edit-delete {
    display: flex;
    align-self: center;
    gap: 0.625rem;
}

.edit-btn {
    background-image: url("../../../assets/edit_btn.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: clamp(1.25rem, 3vw, 1.875rem);
    height: clamp(1.25rem, 3vw, 1.875rem);
}

.delete-btn {
    background-image: url("../../../assets/trash_btn.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: clamp(1.25rem, 3vw, 1.875rem);
    height: clamp(1.25rem, 3vw, 1.875rem);
}

/* LOCALIZACIÓN DE LA ACTIVIDAD Y BANDERA */
.info-actividad {
    display: flex;
    gap: clamp(0.625rem, 3vw, 1.25rem);
    height: clamp(1.875rem, 3vw, 2.625rem);
    margin-bottom: clamp(1.563rem, 3vw, 2.188rem);
}

.destaque {
    background-color: #E76267;
    color: #FFFFFF;
    border-radius: 0.5rem;
    font-weight: 700;
    align-content: center;
    font-size: clamp(0.875rem, 3vw, 1.25rem);
    height: 100%;
    padding: 0.313rem 0.625rem;
}

.localizacion {
    display: flex;
    align-content: center;
    gap: 0.188rem;
}

.mapa-punto {
    align-content: center;
    position: relative;
    overflow: hidden;
    width: clamp(0.813rem, 3vw, 1.25rem);
    height: 100%;
}

.prov-com {
    font-size: clamp(0.875rem, 3vw, 1.25rem);
    font-weight: bold;
    align-content: center;
    text-align: center;
    height: 100%;
}

.bandera {
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    width: clamp(1.563rem, 3vw, 2.188rem);
}

/* IMAGEN DE LA ACTIVIDAD */
.foto-actividad {
    position: relative;
    border-radius: 1.25rem;
    width: 100%;
    height: clamp(18.75rem, 50vw, 31.25rem);
    object-fit: cover;
    margin-bottom: 0.625rem;
}

.descripcion {
    color: #666;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 500;
}